* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  min-height: 100vh;
  background: var(--gray-1, #F4F4F6);;
}

#root {
  min-height: 100vh;
  overflow: hidden;
}

main {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-icon:hover {
  cursor: pointer;
}